:root {
  color-scheme: light;
  color: #242424;
  /* background-color: rgba(255, 255, 255, 0.87); */
}

body {
  margin: 0;
}

#root {
  margin: 0 auto;
}

[contenteditable="true"]:empty:before {
  content: attr(placeholder);
}